body.light .comment-section form textarea {
  border: 1px solid #7e6b50;
}

body.light .comment-section form textarea:focus {
  border: 1px solid #4b4718;
}

body.light .comment-section form button {
  background-color: #7e6b50;
  color: #fff;
}

/* dark theme */

body.dark .comment-section form textarea {
  border: 1px solid #4b4718;
}

body.dark .comment-section form textarea:focus {
  border: 1px solid #7e6b50;
}

body.dark .comment-section form button {
  background-color: #7e6b50;
  color: #fff;
}

/* blue theme */

body.blue .comment-section form textarea {
  border: 1px solid #0000ff;
}

body.blue .comment-section form textarea:focus {
  border: 1px solid #4198c0;
}

body.blue .comment-section form button {
  background-color: #0000ff;
  color: #fff;
}
/* crimson theme */

body.crimson .comment-section form textarea {
  border: 1px solid #dc143c;
}

body.crimson .comment-section form textarea:focus {
  border: 1px solid #b0717e;
}

body.crimson .comment-section form button {
  background-color: #dc143c;
  color: #fff;
}
