/* light theme */
body.light .section {
  background-color: #fff;
}

body.light .title span {
  color: #7e6b50;
  font-family: sans-serif;
}
body.light .title p {
  color: #7e4a02;
  font-family: "Alegreya", Sans-serif;
  letter-spacing: 1px;
}

body.light .home_title {
  font-family: "Alegreya", serif;
  color: #000;
}

body.light .btn {
  border: 1px solid #92835e;
  color: #7e6b50;
  font-family: "Alegreya", serif;
  transition: all 0.3s;
}

body.light .btn:hover {
  transform: translateY(-2px);
}

body.light .hero_social_focused {
  color: #a2936d;
}

body.light .socialIcons {
  color: #7e6b50;
}
/* Dark theme */
body.dark .section {
  background-color: #deddcf;
}

body.dark .title span {
  color: #7e6b50;
}
body.dark .title p {
  color: #7e4a02;
  font-family: "Alegreya", Sans-serif;
  letter-spacing: 1px;
}

body.dark .home_title {
  font-family: "Alegreya", serif;
  color: #000;
}

body.dark .btn {
  background-color: #92835e;
  border: 1px solid #7e6b50;
  color: #fff;
  font-family: "Alegreya", serif;
  transition: all 0.3s;
}

body.dark .btn:hover {
  background-color: #7e6b50;
}

body.dark .hero_social_focused {
  color: #a2936d;
}

body.dark .socialIcons {
  color: #7e6b50;
}

/* blue theme */
body.blue .section {
  background-color: #e6f7ff;
}

body.blue .title span {
  color: blue;
}

body.blue .title p {
  color: blue;
  font-family: "Alegreya", Sans-serif;
  letter-spacing: 1px;
}

body.blue .home_title {
  font-family: "Alegreya", serif;
  color: #000;
}

body.blue .btn {
  border: 1px solid blue;
  background-color: blue;
  color: #fff;
  transition: all 0.3s;
}

body.blue .socialIconsTitle span {
  color: blue;
}

body.blue .socialIcons {
  color: blue;
}

/* Crimson theme */
body.crimson .section {
  background-color: #feede7;
}

body.crimson .title span {
  color: crimson;
}

body.crimson .title p {
  color: crimson;
  font-family: "Alegreya", Sans-serif;
  letter-spacing: 1px;
}

body.crimson .home_title {
  font-family: "Alegreya", serif;
  color: #000;
}

body.crimson .btn {
  background-color: crimson;
  color: #fff;
  transition: all 0.3s;
}

body.crimson .socialIconsTitle span {
  color: crimson;
}

body.crimson .socialIcons {
  color: crimson;
}
