/* ===================== Navbar Light Mode ===================== */
body.light .header {
  background-color: #fff;
  color: #111111;
}

body.light .logo h1 {
  color: black;
}
body.light .logo h1 span {
  color: #7e6b50;
}

body.light .nav-link {
  color: black;
  transition: 2s;
  position: relative;
  text-decoration: none; /* optional */
}

body.light .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 100%;
  background-color: #7e6b50;
  transition: all 0.3s;
}

body.light .nav-link:hover {
  color: #7e6b50;
}

body.light .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 0;
  background-color: #7e6b50;
  transition: all 0.3s;
}

body.light .nav-link:hover::after {
  width: 100%;
}

body.light .nav-link:hover {
  color: #7e6b50; /* Tailwind blue-600 */
}

body.light .theme {
  border: 1px solid #7e6b50;
  color: black;
  transition: all 0.3s;
}

body.light .theme:hover {
  background-color: #574a37;
  color: #fff;
}

body.light .dropdownMenu {
  background-color: #fff;
  transition: all 0.3s;
}

body.light .dropBtn:hover {
  background-color: #f3f4f6;
}

body.light .responsive {
  background-color: #fff;
}

/* Dark theme */

body.dark .header {
  background-color: #deddcf;
}

body.dark .nav-link {
  color: black;
  transition: 2s;
  position: relative;
  text-decoration: none; /* optional */
}

body.dark .nav-link:hover {
  color: #7e6b50;
}

body.dark .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 0;
  background-color: #7e6b50;
  transition: all 0.3s;
}

body.dark .nav-link:hover::after {
  width: 100%;
}

body.dark .nav-link:hover {
  color: #7e6b50; /* Tailwind blue-600 */
}

body.dark .theme {
  border: 1px solid #7e6b50;
  color: black;
  transition: all 0.3s;
}

body.dark .theme:hover {
  background-color: #574a37;
  color: #fff;
}

body.dark .dropdownMenu {
  background-color: #fff;
  transition: all 0.3s;
}

body.dark .dropBtn:hover {
  background-color: #f3f4f6;
}

body.dark .responsive {
  background-color: #deddcf;
}

/* Blue theme */

body.blue .header {
  background-color: #e6f7ff;
}

body.blue .logo h1 {
  color: black;
}
body.blue .logo h1 span {
  color: blue;
}

body.blue .nav-link {
  color: rgb(96, 96, 240);
  transition: 2s;
  position: relative;
  text-decoration: none; /* optional */
}

body.blue .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 0;
  background-color: blue;
  transition: all 0.3s;
}

body.blue .nav-link:hover::after {
  width: 100%;
}

body.blue .nav-link:hover {
  color: blue; /* Tailwind blue-600 */
}

body.blue .theme {
  border: 1px solid blue;
  /* background-color: #7e6b50; */
  color: black;
  transition: all 0.3s;
}

body.blue .theme:hover {
  background-color: blue;
  color: #fff;
}

body.blue .dropdownMenu {
  background-color: #fff;
  transition: all 0.3s;
}

body.blue .dropBtn:hover {
  background-color: #f3f4f6;
}

body.blue .responsive {
  background-color: #e6f7ff;
}

/* Crimson theme */

body.crimson .header {
  background-color: #ffece7;
}

body.crimson .logo h1 {
  color: black;
}
body.crimson .logo h1 span {
  color: crimson;
}

body.crimson .nav-link {
  color: crimson;
  transition: 2s;
  position: relative;
  text-decoration: none; /* optional */
}

body.crimson .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 0;
  background-color: crimson;
  transition: all 0.3s;
}

body.crimson .nav-link:hover::after {
  width: 100%;
}

body.crimson .nav-link:hover {
  color: crimson; /* Tailwind blue-600 */
}

body.crimson .theme {
  border: 1px solid crimson;
  /* background-color: #7e6b50; */
  color: black;
  transition: all 0.3s;
}

body.crimson .theme:hover {
  background-color: crimson;
  color: #fff;
}

body.crimson .dropdownMenu {
  background-color: #fff;
  transition: all 0.3s;
}

body.crimson .dropBtn:hover {
  background-color: #f3f4f6;
}

body.crimson .responsive {
  background-color: #ffece7;
}
